@(title: String)(content: Html)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Torneos Rubiks: @{title}</title>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/custom.css")'>
        <script src='@routes.Assets.versioned("javascripts/jquery-3.1.0.min.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/bootstrap.min.js")'></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.RubiksController.index()">RUBIKS</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@routes.RubiksController.indexTournament()">Torneos</a>
                        </li>
                        <li>
                            <a href="@routes.RubiksController.indexStatistics()">Estadísticas</a>
                        </li>
                        <li>
                            <a href="@routes.RubiksController.indexMedalTable()">Medallero</a>
                        </li>
                        <li>
                            <a href="@routes.RubiksController.indexRecords()">Records</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <div class="container">
            @{content}

            <hr>


        </div>

    </body>
</html>