@(tournaments: List[models.entities.Tournament])(implicit msg: play.api.i18n.Messages)

@main("Tournaments") {

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Torneos
      </h1>
    </div>
  </div>

  <div class="row">
    @for(tournament <- tournaments) {
      <div class="col-md-4">
      <div class="panel panel-default">
          <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class = "panel-title">@tournament.name</h3>
        </div>
        <div class="panel-body">
          <p>@tournament.details</p>


          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item">@tournament.place</li>
            <li class="list-group-item">@tournament.city</li>
            <li class="list-group-item">@tournament.address</li>
            <li class="list-group-item">@tournament.start_date</li>
            <li class="list-group-item">@tournament.end_date</li>
          </ul>
        </div>
        <div class="panel-footer">
          <a href="@routes.RubiksController.tournamentIndex(tournament.id)">Ver</a>
        </div>
       </div>
      </div>

    }

  </div>

  </table>

}