@(tournament: models.entities.Tournament)(implicit msg: play.api.i18n.Messages)

  @tournament_main(tournament.name,tournament.id){


    <!-- Page Header -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
        @tournament.name
        </h1>
      </div>
    </div>
      <!-- /.row -->
    
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="pull-left">Fechas</div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-5">
              <div class="huge">@tournament.start_date</div>
            </div>
            <div class="col-xs-2">
              <div>-</div>
            </div>
            <div class="col-xs-5 text-right">
              <div class="huge">@tournament.end_date</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="pull-left">Lugar</div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="huge">@tournament.place</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="huge">@tournament.address</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="huge">@tournament.city</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="pull-left">Organizador</div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="huge">@tournament.organizer</div>
            </div>
          </div>
        </div>
        <div class="panel-heading panel-noborder">
          <div class="pull-left">Delegado</div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="huge">@tournament.delegated</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="pull-left">Detalles</div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="huge">@tournament.details</div>
            </div>
          </div>
        </div>
        <div class="panel-heading panel-noborder">
          <div class="pull-left">Sitio web</div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="huge">@tournament.website</div>
            </div>
          </div>
        </div>
      </div>
    </div>






  }