@()

@main("Tournaments") {


  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Torneos
      </h1>
    </div>
  </div>
    <!-- /.row -->

    <!-- Projects Row -->
  <div class="row">
    <div class="col-md-offset-1 col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="@routes.Assets.versioned("images/create.png")" alt="">
      </a>
      <h3 style="text-align: center ;">
        <a href="@routes.RubiksController.addTournament">CREAR TORNEOS</a>
      </h3>
    </div>
    <div class="col-md-offset-2 col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="@routes.Assets.versioned("images/cup.png")" alt="">
      </a>
      <h3 style="text-align: center ;">
        <a href="@routes.RubiksController.seeTournaments">VER TORNEOS</a>
      </h3>
    </div>
  </div>

}