@(form: Form[models.entities.Tournament])(implicit msg: play.api.i18n.Messages)


@main("Create a new tournament"){

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Crear un nuevo torneo
            </h1>
        </div>
    </div>
        <!-- /.row -->



    <div class="row">
        <div class="col-md-offset-2 col-md-6 ">
            @if(form.hasGlobalErrors) {
                <ul>
                @for(error <- form.globalErrors) {
                    <li>@Messages(error.messages, error.args)</li>
                }
                </ul>
            }
        @helper.form(action = routes.RubiksController.createTournament){
            <input type="hidden" value="0" name="id" />
            @helper.inputText(form("place"), 'class -> "form-control input-md", '_label -> "Lugar", '_showErrors -> false)
            @helper.inputText(form("city"), 'class -> "form-control input-md", '_label -> "Ciudad", '_showErrors -> false)
            @helper.inputText(form("address"), 'class -> "form-control input-md", '_label -> "Dirección", '_showErrors -> false)
            @helper.inputText(form("details"), 'class -> "form-control input-md", '_label -> "Detalles", '_showErrors -> false)
            @helper.inputText(form("website"), 'class -> "form-control input-md", '_label -> "Website", '_showErrors -> false)
            @helper.inputText(form("organizer_id"), 'class -> "form-control input-md", '_label -> "Organizador", '_showErrors -> false)
            @helper.inputText(form("delegated_id"), 'class -> "form-control input-md", '_label -> "Delegado", '_showErrors -> false)
            @helper.inputDate(form("start_date"), 'class -> "form-control input-md", '_label -> "Fecha de Inicio", '_showErrors -> false)
            @helper.inputDate(form("end_date"), 'class -> "form-control input-md", '_label -> "Fecha de Termino", '_showErrors -> false)

            <button type="submit" class="btn btn-primary">Crear!</button>
        }
        </div>
    </div>

}